.searchBox {
  display: flex;
  margin-left: auto;
  height: 30px;
  align-items: baseline;
}

.searchInput {
  width: calc(100% - 16px);
}

.searchResultInner {
  position: absolute;
  background: var(--background);
  border-radius: 3px;
  box-shadow: rgba(20, 20, 20, 0.2) 1px 1px 20px;
  width: var(--width);
  width: 520px;
  top: 70px;
  right: calc((100vw - var(--width)) / 2);
  /* left: 0;
  margin: auto; */
  /* padding: 20px; */
  transition: 0.3s ease;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  color: var(--text);
  font-size: 0.9rem;
  z-index: 99999;
}

.searchResult {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid var(--lightGray);
}
