/*
  @theme typememo
  @author Takeru Yamada
*/

@import 'gaia';

section {
  /* Dark mode */
  background: #232129;
  color: #ffffff;
  font-family: "Helvetica Neue", "monospace";
}

section::after {
  font-size: 50%;
  color: #575266;
}

header,
footer {
  text-align: center;
  color: #575266;
}

a {
  color: #ada3cc
}

pre > code {
  background: #000000;
  color: #fff8e1;
}

code {
  background: #d9ccff;
  color: #232129;
}

table thead th {
  background: #827a99;
  color: #fff8e1;
}

blockquote {
  opacity: 0.75;
}

blockquote::before,
blockquote::after {
  color: #575266
}